{% extends 'layouts/base.html' %}
{% load humanize %}
{% block title %}Homepage - {{ block.super }}{% endblock %}
{% block content %}
  <h2>Hello, World!</h2>
  <p>I am a basic website.</p>
  <h3>Numbers</h3>
  <p>{{ number }}</p>
  <p>{% if number %}Number exists!{% endif %}</p>
  <p>There are six dogs! <b>
  {% if number == 6 %}
    True
  {% else %}
    False
  {% endif %}  
  </b></p> 
  <p>There are {{ number }} walrus{{ number|pluralize:"es" }}!</p>
  <h3>Humanize</h3>
  <p>There are {{ number|apnumber }} dogs!</p>
  <h3>Strings</h3>
  <p>This is my name: {{ thing }}</p>
  <h3>Slugify</h3>
  <p>Slug: a shortened, lowercased version of a string for URLs.</p>
  <p>This is my name: {{ thing|title }}</p>
  <p>This is my name truncated: {{ thing|truncatewords:1 }}</p>
  <!-- start looping over objects in the things variable, displaying the name for each Thing -->
  {% for thing in things %}
  <h2><a href="{% url 'thing_detail' slug=thing.slug %}">{{ thing.name }}</a></h2>
  <p>{{ thing.description }}</p>
  {% endfor %}
{% endblock %}